<div id="structure">
	<mat-card class="subscribtion-card" *ngFor="let subscribtion of subscribtions$ | async">
		<mat-card-title>{{ subscribtion.name }}</mat-card-title>
		<mat-card-subtitle>{{ subscribtion.type }}</mat-card-subtitle>
		<mat-card-content *ngIf="subscribtion.usage">
			<mat-card-subtitle>Usage</mat-card-subtitle>
			<ul *ngFor="let usage of subscribtion.usage">
				<li>Limit: {{ usage.limit }}</li>
				<li>Type: {{ usage.type }}</li>
				<li>Used: {{ usage.used }}</li>
			</ul>
		</mat-card-content>
	</mat-card>
	<div *ngIf="subscribtions$ | async as Subscribtion; else loading">
	</div>
	<ng-template #loading>
		<mat-spinner #spinner></mat-spinner>
	</ng-template>
</div>