<div fxLayoutAlign="center center" fxFlexFill class="main-div">
	<mat-card fxFlex="35">
		<mat-toolbar color="primary">Login Page</mat-toolbar>
		<form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="form" (ngSubmit)="LoginProces()">
			<mat-form-field>
			  <input matInput placeholder="Username" formControlName="email">
			</mat-form-field>

			<mat-form-field>
			  <input matInput type="password" placeholder="Password" formControlName="password">
			</mat-form-field>
			<button color="primary" mat-taised-button type="submit">Login</button>
		  </form>
	</mat-card>
</div>