.main-div mat-card {
	padding: 0px
}

.login-form {
	padding: 20px
}
// #holder {
// 	float: left;
// 	padding: 30px;
// 	margin: 0;
// 	box-sizing: border-box;
// }
#login-button {
	float: left;
	display: flex;
	width: 140px;
	justify-content: center;
	align-self: center;
}