<div class="login">
	<div class="login-container">
		<h1>melita</h1>
		<form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="form">
			<mat-form-field appearance="outline">
			<input matInput placeholder="Username" formControlName="email">
			</mat-form-field>

			<mat-form-field appearance="outline">
			<input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
			<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</mat-form-field>
			<div>
				<mat-checkbox fxFlex="50" class="example-margin">Remember me?</mat-checkbox>
				<span>Forget password?</span>
			</div>
			<button #loginbutton  id="login-button" [disabled]="clicked" (click)="LoginProces();clicked = true;" fxFlex="40" mat-raised-button color="primary" type="submit">Login</button>
		</form>
	</div>
</div>